.search-box {
  width: 100%;
  max-width: 600px;
}

@media (max-width: 992px) {
  .search-box {
    width: 90%;
  }
}

 .h_w {
  height: 250px;      /* fixed height */
          /* make sure it fills width */
  }