.search-box {
  width: 120%;         /* bigger than container */
  max-width: 600px;    /* limit on big screens */
  min-width: 200px;    /* limit on small screens */
}

 .h_w {
  height: 250px;      /* fixed height */
          /* make sure it fills width */
  }